{% load custom_tags %}

{% autoescape off %}

{% for word in topic.title|split:" " %}
{% if word|match_emote %}
{% with word|match_emote as emote %}
{% ifequal emote.provider 'twitch' %}
<span class="mx-2 is-align-items-center"><img
        src="https://static-cdn.jtvnw.net/emoticons/v1/{{ emote.emote_id }}/1.0"></span>
{% endifequal %}
{% ifequal emote.provider 'bttv' %}
<span class="mx-2 is-align-items-center"><img src="https://cdn.betterttv.net/emote/{{ emote.emote_id }}/1x"></span>
{% endifequal %}
{% ifequal emote.provider 'ffz' %}
<span class="mx-2 is-align-items-center"><img src="https://cdn.frankerfacez.com/emote/{{ emote.emote_id }}/1"></span>
{% endifequal %}
{% endwith %}
{% else %}
{{ word }}
{% endif %}
{% endfor %}

{% endautoescape %}